<h1>Details for Contact</h1>
<p>
	<b>ID:</b> <%= @contact.id %><br>
	<b>NAME:</b> <%= @contact.name %> <br>
	<b>EMAIL:</b> <%= @contact.email %> <br>
</p>
<p><%= link_to 'Edit', edit_contact_path(@contact) %></p>